@import "tailwindcss";

@theme {
  --color-purple-50:  #f6f2f7;
  --color-purple-100: #e9dff0;
  --color-purple-200: #d6bfe1;
  --color-purple-300: #ba95c7;
  --color-purple-400: #9f72b0;
  --color-purple-500: #825594;
  --color-purple-600: #6c477b;
  --color-purple-700: #553a62;
  --color-purple-800: #3f2d49;
  --color-purple-900: #2c2035;
  --color-purple-950: #1b1321;

  --color-green-50:  #f3f7f4;
  --color-green-100: #e1ece5;
  --color-green-200: #c4dac9;
  --color-green-300: #9bb89e;
  --color-green-400: #75a07b;
  --color-green-500: #4d8458;
  --color-green-600: #3b6e46;
  --color-green-700: #2a5834;
  --color-green-800: #1b4124;
  --color-green-900: #11301a;
  --color-green-950: #0a1f11;

  --color-brown-50:  #f9f6f3;
  --color-brown-100: #ede4dd;
  --color-brown-200: #dfd0c4;
  --color-brown-300: #cbb4a5;
  --color-brown-400: #b6938a;
  --color-brown-500: #987463;
  --color-brown-600: #80604e;
  --color-brown-700: #674b3a;
  --color-brown-800: #4e3729;
  --color-brown-900: #392616;
  --color-brown-950: #27180f;
}